
th {
  background-color:#0082c3 ;
  color: #ffffff;
  width: 600px;
  height: 1px;
  text-align: center;
}
table {
  border-collapse: collapse;
}


.Datas table, td, th {
  border: 1px solid #ffffffcc;
  padding: 5px;
}